/* Main section */
.main-section {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: table;
    text-align: center;
}

/* Content wrapper */
.wrapper {
    height: 100%;
    padding: 50px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
