* {
  font-family: 'Roboto', sans-serif;
}


/* Title bar attributes */
.titleBar {
  background-color: #000;
  display: block;
  color: #FFF;
  padding-left: 16px;
}

/* Main section */
.main-section {
  width: 100%;
  height: 100vh;
  display: table;
  text-align: center;
  /* background: url("https://i.ytimg.com/vi/8Wvf4ZNdvPE/maxresdefault.jpg") no-repeat center center fixed;  */
  -webkit-background-size: cover !important;;
  -moz-background-size: cover !important;;
  -o-background-size: cover !important;;
  background-size: cover !important;;
  background-position: center !important;
  background-repeat: no-repeat !important;
}


/* Movie Masthead */
.masthead {
  width: 100%;
  height: auto;
  min-height: 30rem;
  padding: 15rem 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/* Content wrapper */
.wrapper {
  height: 100%;
  padding: 50px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

/* Sub section */
.sub-section {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle !important;
  background-color: #19181D;
}

/* MOVIE POSTER SIZING */
.movie-poster {
  height: 300px;
  width: auto;
}

.modal-body {
  padding: 0 !important;
}

.card {
  height: auto;
  padding: 0;
}

.card-img-top {
  width: 138px;
  height: 175px;
  object-fit: contain;
}

/* SELECTED MOVIE ATTRIBUTES */
.movie-info-style {
  color: white;
  font-weight: 900;
}

/* FONT SIZE */
.select-movie-title {
  font-size: 80px;
}

/* FONT SIZE */
.select-movie-info {
  font-size: 22px;
}

/* FONT SIZE */
.select-movie-info-sml {
  font-size: 14px;
}

.select-movie-info-thin {
  font-weight: 300;
}

/* TEXT SLIGHTLY TO THE LEFT */
.text-left {
  padding-left: 10%;
}

/* PRESET INFORMATION GIVEN TO US BY THE APP */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#mainNav {
  min-height: 56px;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  color: white;
  font-weight: 700;
  padding: 0.9rem 0;
}


/* NAVBAR */
.navbar-dark {
  padding: 50px !important;
  /* background-color: #19181D !important; */
  background-color: transparent !important;
  color: white !important;
}

.navbar-brand {
  color: red !important;
  font-weight: 900;
}

.wrapper-t {
  height: 100%;
  padding: 50px;
  text-align: center;
  display: table-cell;
}

/* TEXT INPUTS */
.form-control {
  background-color: transparent !important;
  border-top: none !important;
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  
  padding: 20px !important;

  margin-right: 25px;

  color: white !important;
  font-size: 15px !important;
  letter-spacing: 2px;
}

.form-control::placeholder {
  color: white !important;
}

.form-control:focus {
  outline: red !important;
}

.btn-success {
  background-color: #FE0F1B !important;
  border-color: #FE0F1B !important;
  border-radius: 100% !important;
}

.modal-content {
  background: none !important;
  border: none !important;
}